.why__fact {
    --degree: 215deg;
    --mask: linear-gradient(var(--degree), white 0%, transparent 100%);

    @media screen and (max-width: 476px) {
        --mask: linear-gradient(var(--degree), white 0%, transparent 90%);
    }

    &--2 {
        --degree: 20deg;

        @media screen and (max-width: 476px) {
            --degree: 230deg;
        }
    }

    &--3 {
        --degree: 270deg;

        @media screen and (max-width: 476px) {
            --degree: 45deg;
        }
    }

    &--4 {
        --degree: 20deg;
    }

    &__border-wrapper {
        mask-image: var(--mask);
    }
}