.contact__form {
    .form-success {
        &__schedule {
            display: none;
        }

        &--schedule {
            .form-success {
                &__default {
                    display: none;
                }

                &__schedule {
                    display: block;
                }
            }
        }
    }
}