.text-unblur {
    --transition-time: 1s;
    --transition: var(--transition-time) ease;

    &__line {
        &:empty {
            height: 1em;
        }
    }

    &__word {
        transform: scale(0.95);
        opacity: 0;
        filter: blur(10px);
    }

    &__transition &__word {
        will-change: opacity, filter, transform;
        transition:
            opacity var(--transition),
            filter var(--transition),
            transform var(--transition);
        transition-delay: var(--delay);
    }

    &__appeared &__word {
        transform: scale(1);
        opacity: 1;
        filter: blur(0);
    }
}