.external-media {
    background: var(--gradient-glass, var(--glassy-blue));

    &__entry {
        &__bg {
            opacity: 0;
        }

        @media (hover: hover) {
            &__bg {
                transition: opacity 0.8s ease;
            }

            &:hover {
                .media-button {
                    background-color: var(--dark-blue);
                    color: var(--glassy-blue);
                }

                .external-media__entry__bg {
                    opacity: 1;
                }
            }
        }
    }
}