.external-media {
    background: var(--gradient-glass, var(--glassy-blue));

    &__entry {
        @media (hover: hover) {
            &::before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(35deg, transparent 45%, var(--blob-blue) 100%);
                opacity: 0;
                transition: opacity 0.5s ease;
            }

            &:hover {
                .media-button {
                    background-color: var(--dark-blue);
                    color: var(--glassy-blue);
                }

                &::before {
                    opacity: 0.5;
                }
            }
        }
    }
}