.story__map {
    --transition-time: 0.5s;

    &__overlay--fills {
        display: block !important;
    }

    .map-entry {
        &--to-show {
            transition: opacity var(--transition-time);
            opacity: 0;

            &.active {
                opacity: 1;
            }
        }
        
        &--to-color {
            transition: fill var(--transition-time);
            fill: var(--blue);

            &.active {
                fill: var(--dark-blue);
            }
        }
    }
}