.story__map {
    &__overlay--fills {
        display: block !important;
    }

    .map-entry {
        &--to-show {
            transition: opacity 0.4s;
            opacity: 0;

            &.active {
                opacity: 1;
            }
        }
        
        &--to-color {
            transition: fill 0.4s;
            fill: var(--blue);

            &.active {
                fill: var(--dark-blue);
            }
        }
    }
}