.services__step__heading {
    .services__end__line--glow,
    .glowing-line__line--glow {
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.4s ease;
    }

    .services__step__index__text p {
        opacity: 0.5;
        transition: opacity 0.4s;
    }

    .services__step__index.appeared {
        .services__end__line--glow,
        .glowing-line__line--glow {
            transform: scaleX(1);
        }

        .services__step__index__text p {
            opacity: 1;
        }
    }

    @media screen and (max-width: 767px) {
        .heading--services {
            .text-mask-appear__line-mask:first-child {
                .text-appear__line {
                    text-indent: 1em;
                }
            }
        }
    }
}

.heading--services.force-repaint {
  animation: safari-force-repaint 1s infinite;
}

@keyframes safari-force-repaint {
  0%   { opacity: 1; }
  100% { opacity: 0.99; }
}