.services__step__heading {
    .glowing-line__line--glow {
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.4s ease;
    }

    .services__step__index__text p {
        opacity: 0.5;
        transition: opacity 0.4s;
    }

    .services__step__index.appeared {
        .glowing-line__line--glow {
            transform: scaleX(1);
        }

        .services__step__index__text p {
            opacity: 1;
        }
    }

    .heading--services {
        > *:not(:first-child) {
            text-indent: 0;
        }
    }
}