:root {
    --gradient-glass: radial-gradient(42.9% 47.1% at 64.28% 11.84%, var(--glassy-white) 0%, var(--glassy-blue) 100%);
    --easing: cubic-bezier(.65,-0.01,.35,1);
}

.w-embed {
    &::before,
    &::after {
        display: none;
    }
}

.white-bg--gradient {
    background: var(--gradient-glass, var(--glassy-white));
}

.arrow-button {
    --shift: 0.6em;

    &__border {
        opacity: 0.2;
        transition: opacity 0.4s ease;
    }

    &__arrow {
        transition: opacity 0.4s ease, transform 0.4s ease;

        &__icon {
            width: 1.2em;

            @media screen and (max-width: 478px) {
                width: 1em !important;
            }
        }
    }

    &.disabled &__arrow {
        opacity: 0.4;
    }

    @media (hover: hover) {
        &__eyes {
            transition: opacity 0.4s ease;

            .eyes {
                transform: translateX(calc(-1 * var(--shift)));
                // transition: transform 0.4s ease;
            }
        }

        &:hover {
            .arrow-button {
                &__border {
                    opacity: 1;
                }

                &__eyes {
                    opacity: 1;

                    // .eyes {
                    //     transform: translateX(calc(-1 * var(--shift)));
                    // }
                }

                &__arrow {
                    transform: translateX(var(--shift));
                }
            }
        }
    }
}