@media screen and (max-width: 478px) {
    .testimonials {
        &__button {
            transition: opacity 0.4s ease;

            &--hidden {
                opacity: 0.5;
                pointer-events: none;
            }
        }

        &__entry {
            transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

            &--0 {
                z-index: 3;
                transform: scale(1.1) translateY(5%);
                opacity: 0;
            }

            // &--next {
            //     transform: scale(0.8) !important;
            //     opacity: 0.8;
            //     pointer-events: none;
            // }

            // &--hidden {
            //     transform: scale(1.2) !important;
            //     opacity: 0;
            //     pointer-events: none;
            // }
        }
    }
}
