.story__timeline {
    --delay-1: 0.4s;
    --delay-2: 0.8s;
    --delay-3: 1.5s;
    --delay-4: 1.8s;

    --axis-2-1-ratio: 9.46;
    --axis-3-1-ratio: 3.26;
    --axis-1-time: 0.1s;
    --axis-2-time: calc(var(--axis-1-time) * var(--axis-2-1-ratio));
    --axis-3-time: calc(var(--axis-1-time) * var(--axis-3-1-ratio));

    .story__timeline__label-container {
        &--1 {
            --delay: var(--delay-1);
        }

        &--2 {
            --delay: var(--delay-2);
        }

        &--3 {
            --delay: var(--delay-3);
        }

        &--4 {
            --delay: var(--delay-4);
        }
    }

    .timeline-entry {
        &__content {
            opacity: 0;
        }

        &__line {
            clip-path: inset(0 0 100% 0);
        }
    }

    #dna-top,
    #dna-bottom,
    #today-circle,
    #axis-1,
    #axis-2,
    #axis-3 {
        clip-path: inset(0 100% 0 0);
    }

    #today-circle-left {
        clip-path: inset(100% 0 0 0);
    }

    #today-circle-right {
        clip-path: inset(0 0 100% 0);
    }

    rect,
    .story__gradient-blob {
        opacity: 0;
    }

    .story__gradient-blob {
        background-repeat: no-repeat;
    }

    @media screen and (max-width: 991px) {
        .timeline-entry {
            &__line {
                clip-path: inset(0 100% 0 0);
            }
        }

        #dna-top,
        #dna-bottom,
        #axis-1,
        #axis-2,
        #axis-3 {
            clip-path: inset(0 0 100% 0);
        }
    }

    &.transition {
        .timeline-entry {
            &__content {
                transition: opacity 0.8s ease-in-out calc(0.2s + var(--delay));
            }

            &__line {
                transition: clip-path 0.4s ease-in-out var(--delay);
            }
        }

        #dna-top,
        #dna-bottom {
            transition: clip-path 2s ease-in-out;
        }

        #axis-1 {
            transition: clip-path var(--axis-1-time) ease-in;
        }
        #axis-2 {
            transition: clip-path var(--axis-2-time) linear var(--axis-1-time);
        }
        #axis-3 {
            transition: clip-path var(--axis-3-time) ease-out calc(var(--axis-1-time) + var(--axis-2-time));
        }

        #dna-bottom {
            transition-delay: 0.2s;
        }

        #today-circle,
        #today-circle-left,
        #today-circle-right {
            transition: clip-path 0.6s ease-in-out calc(var(--delay-4) + 0.4s);
        }

        #today-circle-left {
            transition-timing-function: ease-in;
        }

        #today-circle-right {
            transition-timing-function: ease-out;
        }

        rect,
        .story__gradient-blob {
            transition: opacity 0.8s;
        }

        rect {
            &#dot-1 {
                transition-delay: var(--delay-1);
            }

            &#dot-2 {
                transition-delay: var(--delay-2);
            }

            &#dot-3 {
                transition-delay: var(--delay-3);
            }

            &#dot-4 {
                transition-delay: var(--delay-4);
            }
        }

        .story__gradient-blob {
            transition-delay: calc(var(--delay-4) + 0.6s);
        }
    }

    &.animated {
        .timeline-entry {
            &__content {
                opacity: 1;
            }

            &__line {
                clip-path: inset(0 0 0 0);
            }
        }

        #dna-top,
        #dna-bottom,
        #axis-1,
        #axis-2,
        #axis-3,
        #today-circle,
        #today-circle-left,
        #today-circle-right {
            clip-path: inset(0 0 0 0);
        }

        rect,
        .story__gradient-blob {
            opacity: 1;
        }

        .story__gradient-blob {
            animation: blob-glow 1.4s ease-in-out infinite;
        }
    }
}

@keyframes blob-glow {
    0% {
        background-size: 100% 100%;
        // transform: scaleY(1);
    }
    50% {
        background-size: 100% 80%;
        // transform: scaleY(0.8);
    }
    100% {
        background-size: 100% 100%;
        // transform: scaleY(1);
    }
}