.legal__disclaimer {
    clip-path: polygon(0% 100%, 0% 100%, 0% 100%, 0% 100%);
    transition: clip-path 0.4s ease;

    &.shown {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}