.team__card {
    --delay: 0s;

    &.blurred {
        opacity: 0;
        filter: blur(var(--blur, 10px));
    }

    &.transition {
        transition: opacity 0.5s ease, filter 0.5s ease;

        @media screen and (min-width: 992px) {
            transition-delay: var(--delay);
        }
    }
}

@media (hover: hover) {
    .team__entry {
        &__image {
            transition: transform 0.5s ease-out, filter 0.5s;
        }

        &:hover &__image {
            transform: scale(1.04);
        }
    }
}