.media__content {
    [data-gated-post="opened"] {
        display: none;
    }

    &.subscribed {
        .media__content__more:not(:hover) {
            background-color: transparent;
        }
    }

    [data-gated-post="post"] {
        [data-gated-post="opened"] {
            display: none;
        }

        &.unblocked {
            &:not(:hover),
            &.media__entry--video {
                background-color: transparent;
            }

            [data-gated-post="opened"] {
                display: block;
            }

            [data-gated-post="closed"] {
                display: none;
            }
        }
    }
}

.media__entry {
    --border: 1px solid var(--blue-50);
    --placeholder-1: url(https://cdn.prod.website-files.com/68359b057989673b79f2f2ce/68a7140bd717bba09b97a4d9_insight-placeholder.avif);
    --placeholder-2: url(https://cdn.prod.website-files.com/68359b057989673b79f2f2ce/68a7155f73f312c5ba4831e9_insight-placeholder-2.avif);
    --placeholder-3: url(https://cdn.prod.website-files.com/68359b057989673b79f2f2ce/68a7155f21e9b691c00debfb_insight-placeholder-3.avif);

    &:nth-child(2n + 1) {
        border-right: var(--border);
    }

    &:nth-last-child(n+3) {
        border-bottom: var(--border);
    }

    &:nth-child(4n + 2) {
        --placeholder: var(--placeholder-1);
    }

    &:nth-child(4n + 3) {
        --placeholder: var(--placeholder-2);
    }

    &:nth-child(4n + 4) {
        --placeholder: var(--placeholder-3);
    }

    .media__insight__button--filled {
        clip-path: inset(0 100% 0 0);

        transition: clip-path 0.6s ease;
    }

    .media__insight__cover__placeholder {
        background-image: var(--placeholder);
    }

    &:hover .media__insight__button--filled {
        clip-path: inset(0 0 0 0);
    }
}