@media (hover: hover) {
    .navigation__secondary {
        &:hover {
            .navigation__secondary {
                &__corner {
                    opacity: 1;

                    &--glow {
                        opacity: 1;
                    }
                }

                &__eyes {
                    opacity: 1;
                }

                &__text {
                    transform: translateX(0);
                }
            }
        }
    }
}