@media screen and (max-width: 767px) {
    .menu-opened {
        .fixed__logo {
            opacity: 0;
        }
    }
}

.burger-icon {
    --transition: transform 0.8s ease;
    width: 100%;
    height: 100%;
    position: relative;
    transition: var(--transition);

    &__segment {
        position: absolute;
        left: 0;
        top: 50%;
        width: 50%;
        height: 4px;
        display: flex;
        align-items: center;
        transform-origin: right center;

        &--top {
            transform: rotateZ(90deg);
        }

        &--right {
            transform: rotateZ(180deg);
        }

        &--bottom {
            transform: rotateZ(270deg);
        }
    }

    &__dot {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: currentColor;
        transition: var(--transition);
    }

    &__fill {
        width: 100%;
        height: 50%;
        top: 50%;
        left: 1px;
        background-color: currentColor;
        transform: scaleX(0);
        transition: var(--transition);
    }
}

.menu-btn--opened {
    .burger-icon {
        transform: rotateZ(-45deg);

        &__dot {
            transform: scale(0.5);
        }

        &__fill {
            transform: scaleX(1);
        }
    }
}

.menu {
    .heading--nav-link {
        transform: translateY(100%) rotateZ(2deg);

        &.transition {
            transition: transform 0.4s ease;
        }

        &.shown {
            transform: translateY(0%);
        }
    }

    .menu__link {
        @for $i from 1 through 5 {
            &:nth-child(#{$i}) {
                .heading--nav-link {
                    &.transition {
                        transition-delay: $i * 0.05s;
                    }
                }
            }
        }
    }

    &__members-link {
        opacity: 0;

        &.transition {
            transition: opacity 0.4s ease 0.3s;
        }

        &.shown {
            opacity: 1;
        }
    }

    .menu__link {
        transition: opacity 0.25s ease;

        &.transparent {
            opacity: 0.5;
        }

        &__text {
            transition: transform 0.4s ease;
        }

        &__eyes {
            transition: opacity 0.4s ease;
        }

        &:hover {
            .menu__link {
                &__text {
                    transform: translateX(-1.8em);
                }

                &__eyes {
                    opacity: 1;
                }
            }
        }
    }
}