@media screen and (min-width: 992px) {
    .testimonials {
        --translation: 0px;

        &__entry {
            transform: translate3d(0, 0, var(--translation)) !important;
            opacity: clamp(0, var(--opacity), 0.999);
        }
    }
}