.media__content {
    .media__entry--video {
        &.unblocked {
            .media__video__cover {
                filter: none;
            }

            @media (hover: hover) {
                .media__video__play {
                    transition: transform var(--transition);
                }

                &:hover {
                    .media__video__play {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}