@media (hover: hover) {
    .cta__button {
        &__label {
            opacity: 0.6;
            transition: opacity 0.4s;
        }

        &:hover &__label {
            opacity: 1;
        }
    }
}