.about-hero {
    &__logo {
        opacity: 0;
        transform: translateY(-15%);

        &.transition {
            transition: opacity 1.2s ease, transform 1.2s ease;
        }

        &.shown {
            opacity: 1;
            transform: translateY(0%);
        }
    }
}