.events__entry {
    &:nth-child(2n) {
        margin-top: 2em;
    }

    @media (hover: hover) {
        &__image {
            transition: transform 0.75s ease;
        }

        &:hover {
            .media-button {
                background-color: var(--glassy-blue);
                color: var(--dark-blue);
            }

            .events__entry__image {
                transform: scale(1.02);
            }
        }
    }
}