.events__entry {
    &:nth-child(2n) {
        margin-top: 2em;
    }

    @media (hover: hover) {
        &:hover {
            .media-button {
                background-color: var(--glassy-blue);
                color: var(--dark-blue);
            }
        }
    }
}